:root {
  --size: 100px;
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.paragraph {
  font-size: 16px;
}

.paragraph-2 {
  width: auto;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.cell {
  align-items: flex-end;
  padding-top: 31px;
  padding-left: 180px;
}

.paragraph-3 {
  font-size: 16px;
}

.button {
  background-color: #3847ec;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.cell-2 {
  padding-right: 180px;
}

.button-2 {
  background-color: #00a700;
  margin: 6px auto 30px;
  font-size: 16px;
}

.button-3 {
  color: #000;
  background-color: gold;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.paragraph-4 {
  font-size: 16px;
}

.heading-2 {
  margin-left: auto;
  margin-right: auto;
}

.image {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.image-2 {
  align-self: flex-end;
}

.image-3 {
  align-self: flex-start;
}

.section {
  height: var(--size);
  background-color: rgba(0, 167, 0, .5);
}

.section-2 {
  height: var(--size);
  background-color: rgba(255, 215, 0, .5);
}

.section-3 {
  height: var(--size);
  background-color: rgba(255, 136, 0, .51);
}

.section-4 {
  height: var(--size);
  background-color: rgba(56, 71, 236, .5);
}

.quick-stack, .quick-stack-2, .quick-stack-3 {
  margin-top: 40px;
  margin-bottom: 50px;
}

.section-5 {
  margin-bottom: 50px;
}

.container {
  max-width: 1280px;
  max-height: 720px;
}

.quick-stack-4 {
  padding-left: 0;
  padding-right: 0;
}

.image-4 {
  vertical-align: middle;
  align-self: center;
  margin-top: 39px;
  display: block;
}

.section-6 {
  height: var(--size);
}

.tab-link-elearning {
  background-color: #f9dbbd;
}

.tab-link-elearning.w--current {
  background-color: #ffdfbe;
}

.tab-link-video {
  background-color: #fca17d;
}

.tab-link-coding {
  background-color: #da627d;
}

.tab-link-audio {
  background-color: #9a348e;
}

.tab-link-game-design {
  background-color: #0d0628;
}

.text-block, .text-block-2 {
  color: #fff;
  font-size: 16px;
}

.text-block-3, .text-block-4, .text-block-5 {
  font-size: 16px;
  font-weight: 700;
}

.tabs-menu {
  top: 73px;
}

.tab-pane-elearning {
  flex: 1;
  order: -1;
  align-self: center;
  top: 0;
}

.tabs-content {
  flex-flow: column;
  min-height: 350px;
  display: flex;
  top: 73px;
}

.paragraph-5 {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 0 60px;
  padding-bottom: 0;
  font-size: 16px;
  display: flex;
}

.image-5 {
  float: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 330px;
  margin-right: auto;
  display: inline-flex;
  position: static;
  top: auto;
  bottom: -104%;
  left: 0%;
  right: 0%;
}

.button-4 {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.tab-pane-video {
  flex: none;
  align-self: center;
}

.flex-block {
  justify-content: flex-start;
  align-items: center;
}

.cell-3 {
  overflow-wrap: normal;
  border: 1px solid #0481c9;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cell-4 {
  border: 1px solid red;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.image-6, .image-7 {
  align-self: center;
}

.image-8 {
  align-self: center;
  margin-top: 20px;
}

.cell-5 {
  border: 1px solid #670086;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cell-6 {
  border: 1px solid #fb6d11;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cell-7 {
  border: 1px solid #018f19;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#w-node-d202d8de-ede8-3ba7-df6a-4583be86a9ec-f577fb3b {
  grid-template-rows: auto;
  grid-template-columns: .5fr .25fr;
}

#w-node-_4f913d69-fcf9-393f-49ee-1fb9e0bbe866-f577fb3b {
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
}

#w-node-_3ab393ea-4af3-1047-9b2b-69317ff318f3-f577fb3b {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr;
}

#w-node-_27337fd1-015b-e7c3-3d80-0209dfb7ee28-f577fb3b, #w-node-_0ae1a974-b415-ea36-0219-96c5b68a94e1-f577fb3b {
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
}

#w-node-_2167aca7-3481-0beb-bc96-6eea875fce1a-cec1ff23 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-b31378bc-7c5f-caa0-c642-b379d10c2485-9c372beb {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}
